<ion-header>
  <ion-toolbar color="segundary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Instruções</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card id="container">
    <img src="../../assets/bob.gif" />
    <ion-card-header>
      <ion-card-title>Instruções</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Quiz sobre conhecimentos basicos de Historia</p>
      <p>Você precisa Escolher a reposta Correta</p>
      <p>No termino Será Mostrado </p>
      <p>Quantidade de acertos erros</p>
    </ion-card-content>
  </ion-card>
</ion-content>
